{% extends "MinPRBundle::layout.html.twig" %}

{% block content %}
	<h1>Din pressemelding</h1>
	<p class="lead">For å gjøre alt enklere har vi samlet relevant pressestoff for alle aviser.</p>
	
	{% for fylke, aviser_i_fylket in aviser %}
		<div class="col-xs-12 col-md-6">
			<h2>{{ fylke }}	</h2>
			<ol class="list-unstyled">
			{% for avis in aviser_i_fylket %}
				<li class="well card">
					<a href="{{ url( 'min_pr_mypage', {'id': avis.getId(), 'name': avis.getName()} ) }}">
						{{ avis.getName() }}
					</a>
				</li>
			{% else %}
				<li>Beklager, vi har ingen registrerte aviser i {{ fylke }}. <a href="//om.ukm.no/kontakt/administrasjonen/">Kontakt oss</a></li>
			{% endfor %}
			</ol>
		</div>
		{% if loop.index is divisible by(2) %}
			<div class="clearfix"></div>
		{% endif %}
	{% endfor %}

{% endblock %}
