.btn-default,
button.btn-default {
  background: #dbf0f1 !important;
}
.btn-success {
  background: #6dc6c1 !important;
}
.btn-default a,
.btn-default a:visited,
a.btn-default,
a.btn-default:visited,
button.btn-default,
.btn-success a,
.btn-success a:visited,
a.btn-success,
a.btn-success:visited,
button.btn-success {
  font-weight: bold !important;
  color: #1a1919 !important;
}
.btn-warning a,
.btn-warning a:visited,
a.btn-warning,
a.btn-warning:visited,
button.btn-warning {
	color: #fff;
	border-color: #d58512;
}

.btn-facebook {
	background-color: #336699;
	color: #fff;
	font-weight: bold;
}

.separator {
    width: 90%;
    border-bottom: 1px solid #ccc;
    margin: 12px 0px 20px 5%;
}

.text-hr {
    width: 90%;
    height: 14px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin: 12px 0px 20px 5%;
}
.btn.btn-block + .btn.btn-block {
    margin-top: 12px;
}

.text-hr > span {
	background-color: #fff;
    color: #aaa;
    padding: 0 10px;
    font-style: italic;
}

#top {
  background: #fff;
}
#header_new {
  background: #ecf0f1;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
}
#logo_new {
  background: none;
}
#nav_new {
  background: #6dc6c1;
  margin: 10px 0 0 0;
}
.nav-tabs ul {
  background: none;
  border-radius: 0;
  border: none;
}
.nav-tabs li {
  border-left: 1px solid #ecf0f1;
  border-radius: 0;
}
.nav-tabs li:first-child {
  border-left: none;
}
.nav-tabs li > a {
  border: none !important;
  border-radius: none !important;
  color: #000;
}
.nav-tabs li > a:hover {
  background: #ecf0f1;
  border: none !important;
  border-radius: inherit !important;
}
.nav-tabs li:first-child > a:hover {
  margin-left: 0;
}
#menu-xs {
  margin: 5px 0 0 0;
}
ul.nav a:hover,
ul.nav a:focus,
ul.nav a:active,
ul.nav li.active a {
  color: #6dc6c1 !important;
}
#show_main_mobile_menu {
  border-color: #6dc6c1 !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6dc6c1;
}
.navbar > .container .navbar-brand {
  margin-left: 0px !important;
}
.navbar .nav > li > a {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  padding: 21px 20px 16px 20px !important;
}
.navbar .navbar-brand {
  padding: 7px 20px 7px 0px !important;
}
/* Page headers */
.ukm_page_jumbo {
  position: relative;
  padding: 30px 15px;
  color: #fff;
  text-align: center;
  /*   text-shadow: 0 1px 0 rgba(0,0,0,.1); */
  background-color: #7fcbcd;
  background-image: -webkit-linear-gradient(top, #6dc6c1 0%, #7fcbcd 100%);
  background-image: linear-gradient(to bottom, #6dc6c1 0%, #7fcbcd 100%);
  background-repeat: repeat-x;
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@clr-ukm-green', endColorstr='@clr-ukm-green-l1', GradientType=0); */
}
.ukm_page_jumbo {
  margin-bottom: 15px;
  font-size: 20px;
}
.ukm_page_jumbo h1 {
  margin-top: 0;
  color: #fff;
}
.ukm_page_jumbo p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}
.ukm_page_jumbo .container {
  position: relative;
}
.ukm_page_jumbo #ukm_page_jumbo_image {
  height: 100px;
  margin-right: 25px;
}
@media (max-width: 768px) {
  #ukm_page_content div.todo {
    margin-left: -6px;
    margin-right: -6px;
  }
  #pagecontent .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .ukm_page_jumbo {
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 20px;
    text-align: left;
  }
  .ukm_page_jumbo h1 {
    font-size: 55px;
    line-height: 1;
  }
}
@media (min-width: 992px) {
  .ukm_page_jumbo h1,
  .ukm_page_jumbo p {
    margin-right: 380px;
  }
}
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
.lead {
  font-size: 1.2em !important;
}
#header {
  margin: 20px auto 0 auto;
  border-bottom: 1px solid #ddd;
}
.centered {
  text-align: center;
}
img {
  max-height: 100%;
}
h3 {
  color: #000000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
  line-height: 29px;
}
small,
.small {
  line-height: 1 !important;
}
.separator {
  background-color: #7FCBCD;
  padding: 3px;
  color: #fff;
  text-align: center;
  margin: 4px 0px 9px 0px;
}
.nav_page {
  text-align: left;
}
/* ALIGNMENTS */
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.alignnone {
  float: none;
  display: block;
}
/* WP-shit */
.wp-caption {
  padding: 10px;
  background: #ECF0F1;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.wp-caption-text {
  font-size: 0.8em;
  margin: 5px 0 0 0;
  display: block;
}
#international_ukm h2 {
  margin: 0px;
}
#international_ukm img {
  min-width: 65px;
}
#international_ukm_lead {
  padding: 19px;
  padding-top: 22px;
}
#international_ukm_lead p.lead {
  font-size: 20px;
}
