{% for key, name in mediegrupper if innslag.getBilder().getAllFrom(key)|length > 0 %}
	<h4 style="margin-top: 0px;">Bilder fra {{ name }}</h4>
	<p><small>Klikk på bilde for info om kreditering og nedlasting</small></p>
	{% for bilde in innslag.getBilder().getAllFrom(key) %}
		<a href="{{ url('min_pr_bilder', {'avis': avis.getId(), 'id': bilde.getId() }) }}">
			<img src="{{ bilde.getSize('thumbnail').getUrl() }}" />
		</a>
	{% endfor %}
{% else %}
	<p>Vi har ingen bilder av {{ innslag.getNavn() }}</p>
{% endfor %}