<div class="pressekontakt-image" style="width:100px;">
	<img src="//ukm.no/festivalen/files/2016/05/13583_10201754982823450_1132674148_n-291x300.jpg" width="80" />
</div>
<div class="pressekontakt-data">
	<h4 style="margin-bottom:0px;">Mari Hove</h4>
	Pressekontakt
	<br />
	<span class="visible-xs visible-sm">
		<a href="tel:91333143">913 33 143</a> | <a href="mailto:presse@ukm-festivalen.no">e-post</a>
	</span>
	<span class="hidden-xs hidden-sm">
		913 33 143 | <a href="mailto:presse@ukm-festivalen.no">presse@ukm-festivalen.no</a>
	</span>
</div>
<div class="clearfix"></div>