<div class="" style="width:100px;">
	<img src="https://org.ukm.no/files/2018/03/Eli-sort-hvit-600x600.jpg" width="80" />
</div>
<div class="">
	<h4 style="margin-bottom:0px;">Eli Krogstad</h4>
	Festivalleder
	<br />
	<span class="d-none d-sm-block">
		<a href="tel:41616813">416 16 813</a> | <a href="mailto:eli@ukm.no">e-post</a>
	</span>
	<span class="d-block d-sm-none">
		416 16 813 | <a href="mailto:eli@ukm.no">eli@ukm.no</a>
	</span>
</div>
<div class="clearfix"></div>