{% if innslag.getArtikler().getAntall() > 0 %}
	<p class="bold mt-4 mb-1">
		Artikler
	</p>
	{% for artikkel in innslag.getArtikler().getAll() %}
		<a href="{{ artikkel.getLink() }}" target="_blank">{{ artikkel.getTittel() }}</a>
	{% endfor %}
	
{% endif %}