<p class="bold mt-4 mb-1">
	Filmer fra UKM-TV
</p>
<p class="mt-0">
	<a href="{{ url('min_pr_ukmtv', {'avis': avis.getId(), 'b_id': innslag.getId(), 'pl_id': monstring.monstring.getId() } ) }}">Klikk her for info om kreditering og embedding</a>
</p>

{% for tv in innslag.getFilmer() %}
	{{ tv.embedcode('500px')|raw }}
{% else %}
Vi har ingen filmer av {{ innslag.getNavn() }}
{% endfor %}
